<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Folder Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        .card {
            text-align: center;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div class="card">
        <h2>Create Folder</h2>
        <form method="post">
            <input id="inputName" type="text" name="folderName" placeholder="Enter folder name" required>
            <button type="submit">Create Folder</button>
        </form>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            var err = false;
            $('.err').html('');
            var formData = {
                name: $("#inputName").val(),
            };
            
            if (formData.name == '') {
                $('#nameErr').html('Required');
                err = true
            }
            

            if (!err) {
                $.ajax({
                    type: "POST",
                    url: "/folder/create",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data, error) {
                    window.location.href = '/folder';
                });
            }
            event.preventDefault();
        });
    });
</script>

</html>