<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Folders</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        .folder-list {
            list-style-type: none;
            padding: 0;
        }

        .folder-list li {
            margin-bottom: 10px;
        }

        .folder-card {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f9f9f9;
        }

        .fixed-form {
            position: fixed;
            bottom: 10%;
            left: 40%;
            width: 350px;
            background-color: #f9f9f9;
            transform: translate(-50%, 50%);
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>My Folders</h1>
        <ul class="folder-list">
            {{#each getAllFolders}}
            <li onclick="goToFolder('{{this._id}}')">
                <div class="folder-card">
                    {{#if this.cover_img}}
                     <img src="/uploads/folder/{{this.cover_img}}" alt="Img" width="50px" height="50px" />                  
                    {{else}}
                    <img src="/uploads/coverphoto/cover.png" alt="Img" width="50px" height="50px" />
                    {{/if}}
                    <h3>{{this.name}}</h3>
                </div>
            </li>
            {{/each}}
        </ul>

        <form method="post" class="fixed-form">
            <h4>Create Folder</h4>
            <input id="inputName" type="text" name="folderName" placeholder="Enter folder name" required>
            <button type="submit">Create Folder</button>
        </form>

    </div>
</body>

<script>
    function goToFolder(folderId) {
        window.location.href = 'http://localhost:3001/folder/' + encodeURIComponent(folderId);
    }
    $(document).ready(function () {
        $("form").submit(function (event) {
            var err = false;
            $('.err').html('');
            var formData = {
                name: $("#inputName").val(),
            };

            if (formData.name == '') {
                $('#nameErr').html('Required');
                err = true
            }

            if (!err) {
                $.ajax({
                    type: "POST",
                    url: "/folder/create",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data, error) {
                    window.location.href = '/folder/';
                });
            }
            event.preventDefault();
        });
    });
</script>

</html>